body {
    background: #ccc;
    
}
body {
    margin: 30px;
    padding: 100px;
    font-family: sans-serif;
    height: 100px;
}
.titulo{
    margin: 5px 40px;
    color: #fff;
    text-align: center;
    border: solid #36a564;
    border-style: solid ;
    padding: 15px;
    margin: 15px;
}
.container{
    background-color: #242424;
    color: #fff;
    box-sizing: border-box;
    border-radius: 40px;
}

.container{
    width: 500px;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
}
.box{
    background-color: #d3bebe;
    color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    border: 5px solid  #36a564;
    
}

.box {
    position: relative;
    width: 400px;
    padding: 30px;
    margin: 1px;
    color: #242424;

}
p{
    margin: 5px;
    font-size: 15px;
}
/* input{
    padding: 80px;
} */

input:focus{
    outline: solid #36a564 5px;
}
label{
    text-align: center;
    margin-bottom: 10px;
}
.padre{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.guias{
    display: flex;
    flex-direction: column;
}
.boton{
    background-color: #36a564;
    border: none;
    padding: 20px;
    margin: 30px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* para 980px */
@media screen and (max-width:980px){


    .container{
        width: 700px;
        font-size: 30px;
        width: auto;
        text-align: center;
        width: 500px;
        font-size: 40px;
        margin-left: -125px;
    
      }
      
      .titulo{
        font-size: 40px;
        text-align: center;
      }
      
      p{
        font-size: 30px;
        text-align: center;
      }

   

      
    }

