body {
    background: #ccc;
    
}
body {
    margin: 30px;
    padding: 100px;
    font-family: sans-serif;
    height: 100px;
}
.titulo{
    margin: 5px 40px;
    color: #fff;
    text-align: center;
    border: solid #36a564;
    border-style: solid ;
    padding: 15px;
}
.container{
    background-color: #242424;
    color: #fff;
    box-sizing: border-box;
    border-radius: 40px;
}

.container{
    width: 500px;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
}