body {
    background: #ccc;
    
}
body {
    margin: 30px;
    padding: 100px;
    font-family: sans-serif;
    height: 100px;
}
.titulo{
    margin: 5px 40px;
    color: #fff;
    text-align: center;
    border: solid #36a564;
    border-style: solid ;
    padding: 15px;
    margin: 15px;
}
.container{
    background-color: #242424;
    color: #fff;
    box-sizing: border-box;
    border-radius: 40px;
}

.container{
    width: 500px;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
}
.box{
    background-color: #d3bebe;
    color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    border: 5px solid  #36a564;
    
}

.box {
    position: relative;
    width: 400px;
    padding: 30px;
    margin: 1px;
    color: #242424;

}
p{
    margin: 1px;
    font-size: 15px;
    padding: 1px;
}
/* input{
    padding: 80px;
} */

input:focus{
    outline: solid #36a564 5px;
}
label{
    text-align: center;
    margin-bottom: 10px;
}
.padre{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.guias{
    display: flex;
    flex-direction: column;
}
.boton{
    background-color: #36a564;
    border: none;
    padding: 20px;
    margin: 30px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* para 980px o menos */
@media screen and (max-width:980px) {
  .servi, h1 {
    width: 80%;
    font-size: 30px;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
  }
  
  .media {
    width: 150px;
    left: 20px;
    font-size: 100px;
    top: 250px;
  }
  .dropdown{
    text-align: center;
    top: 20%;
  }
  
  .dropbtn {
    position: relative;
    font-size: 30px;
    left: 5%;
    top: 20%;
  }
  .dropdown-content {
    width:50%;
    position: relative;
    text-align: center;
    font-size: 18px;
    left: 80%;
  }
  table{
    flex-wrap: wrap;
    position: relative;

  }
  table, tr, th { 
    font-size: 15px;
  }
  .contenedor{
    width: 100%;
    font-size: 50px;
  }
  .contenedor, input{
    width: 100%;
    font-size: 50px;
  }
  .title{
    font-size: 50px;
  }
  .seccion{
    width: 50%;
    position: absolute;
    display: block;
   left: 60px;
  }
  button, .wht {
    width: 30%;
    top: 200px;
    left: 600px;
  }
  .p{
    font-size: 20px;
  }
  .menu{
    flex-wrap: wrap;
    text-align: center;
    position: relative;

  }
  .pie{
    flex-wrap: wrap;
    position: relative;

  }
  .pie a{
    font-size: 15px;
  }

}

/* para 700px o menos */
/* @media screen and (max-width:700px) {
  body {
    width: 100%;
  }
  div, .servi {
    font-size:1.5em;
  }
  .dropdown {
    width:94%;
  }
  .dropdown-content {
    float:left;
    clear:none;
    width:50%;
  }
  .menu {
    float:none;
  }
}
 */
/* para 480px o menos */
/* @media screen and (max-width:480px) {
   body {
    display:none;
  } 
  div, .servi {
    font-size:1.5em;
  }
  .dropdown {
    width:94%;
  }
  .dropdown-content {
    float:left;
    clear:none;
    width:50%;
  }
  .menu {
    float:none;
  }
} */

