*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body{
     background-color: rgb(46, 46, 46);
     
  }
  
  .servi h1 a {
    text-decoration: none;
      color: rgb(123, 232, 148);
      margin: 1px 900px 1px 5px;
      padding: 1% 15% 1% 10%;
      font-size: 35px;
      display: block;
      position: absolute;
  }
  
  .servi h1 a:hover{
      background-color: rgba(54, 165, 100, .5);
  }
  
  .media {
      list-style: none;
      font-size: 35px;
      color: rgb(123, 232, 148);
      display: inline-flex;
      padding: 20px;
      margin-right: 28%;
      margin-left: 10%;
      
      font-size: 30px;
      position: absolute;
      left: 30%;
      
      
  }
  
  /* Style the dropdown button */
  .dropbtn {
      background-color: #4caf4f00;
      color: #fff;
      padding: 16px;
      font-size: 35px;
      border: none;
      cursor: pointer;
      display: block;
      position: relative;
      right: -70%;
      top: -10px;
    }
  
    .dropbtn:hover{
      background-color: rgba(54, 165, 100, .5);
    }
    
    /* Style the dropdown content */
    .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
      right: 20%;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    /* Style the links inside the dropdown */
    .dropdown-content a {
      color: rgb(123, 232, 148);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: rgba(54, 165, 100, .5);
    }
  
  table{
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      border-collapse: collapse;
      position: relative;
  }
  
  .menu {
      font-size: 20px;
      color: #fff;
  }
  
  .menu th {
      border: 1px solid rgb(123, 232, 148);
      padding: 5px;
  }
  
  .menu th a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .som:hover{
      background-color: rgba(54, 165, 100, .5);
  }

  .container{
    background-color: #242424;
    color: #fff;
    box-sizing: border-box;
    border-radius: 40px;
}

.container{
    width: 500px;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
}

.titulo{
    margin: 5px 40px;
    color: #fff;
    text-align: center;
    border: solid rgba(123, 232, 148, 1);
    border-style: solid ;
    padding: 15px;
}

.padre{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nombre, .cedula, .correo, .pago{
    display: flex;
    flex-direction: column;
}

.pago select {
  padding: 10px;
}

input{
    padding: 20px;
}

input:focus{
    outline: solid #36a564 5px;
}

.tyc p a{
  text-decoration: none;
  color: rgba(123, 232, 148, 1);
}

.tyc p a:hover {
  background-color: rgba(123, 232, 148, 0.5);
}

.enviar{
    display: flex;
    justify-content:center;
    align-items: center;
}
 .enviar a{
    text-decoration: none;
    color: rgb(123, 232, 148, );
    text-align: center;
 }

.boton{
    background-color: rgba(123, 232, 148, 1);
    border: none;
     
}

label input{
    text-align: center;
    margin-bottom: 10px;
}
/* para 980px o menos */
@media screen and (max-width:980px) {
  .servi, h1 {
    width: 50%;
    font-size: 100px;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
  }
  .media {
    width: 80%;
    left: 20px;
    font-size: 100px;
    top: 250px;
  }
  
  .dropbtn {
    position: relative;
    font-size: 100px;
  
  }
  .dropdown-content {
    width:50%;
    position: relative;
    text-align: center;
    font-size: 80px;
    left: 400px;
  }
  table, tr, th { 
    font-size: 50px;
  }
  .contenedor{
    width: 100%;
    font-size: 50px;
  }
  .contenedor, input{
    width: 100%;
    font-size: 50px;
  }
  .title{
    font-size: 50px;
  }
  .seccion{
    width: 50%;
    position: absolute;
    display: block;
   left: 60px;
  }
  button, .wht {
    width: 30%;
    top: 200px;
    left: 600px;
  }
  .p{
    font-size: 40px;
  }
}

/* para 700px o menos */
/* @media screen and (max-width:700px) {
  body {
    width: 100%;
  }
  div, .servi {
    font-size:1.5em;
  }
  .dropdown {
    width:94%;
  }
  .dropdown-content {
    float:left;
    clear:none;
    width:50%;
  }
  .menu {
    float:none;
  }
}
 */
/* para 480px o menos */
/* @media screen and (max-width:480px) {
   body {
    display:none;
  } 
  div, .servi {
    font-size:1.5em;
  }
  .dropdown {
    width:94%;
  }
  .dropdown-content {
    float:left;
    clear:none;
    width:50%;
  }
  .menu {
    float:none;
  }
} */