
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
   background-color: rgb(46, 46, 46);
   
}

.servi h1 a {
  text-decoration: none;
    color: rgb(123, 232, 148);
    margin: 1px 900px 1px 5px;
    padding: 1% 15% 1% 10%;
    font-size: 35px;
    display: block;
    position: absolute;
}

.servi h1 a:hover{
    background-color: rgba(54, 165, 100, .5);
}

.media {
    list-style: none;
    font-size: 35px;
    color: rgb(123, 232, 148);
    display: inline-flex;
    padding: 20px;
    margin-right: 28%;
    margin-left: 10%;
    
    font-size: 30px;
    position: absolute;
    left: 30%;
    
    
}

/* Style the dropdown button */
.dropbtn {
    background-color: #4caf4f00;
    color: #fff;
    padding: 16px;
    font-size: 35px;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    left: 70%;: 
    top: -10px;
  }

  .dropbtn:hover{
    background-color: rgba(54, 165, 100, .5);
  }
  
  /* Style the dropdown content */
  .dropdown-content {
    background-color: rgba(255, 255, 255, .5);
    display: none;
    position: absolute;
    z-index: 1;
    right: 22%;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgba(54, 165, 100, .5);
  }

  /*.section.area1{
    width: 2%;
    height: 4%;
    border-radius: 1rem;
    position: absolute;
  }
  
  .section.area1{
      top: 5%;
      left: 41%;
  }

  .section.area2{
    width: 2%;
    height: 4%;
    border-radius: 1rem;
    position: absolute;
  }
  
  .section.area2{
      top: 5%;
      left: 43%;
  }

.section.area3{
    width: 2%;
    height: 4%;
    border-radius: 1rem;
    position: absolute;
  }
  
  .section.area3{
      top: 5%;
      left: 45%;
  }

  .section.area4{
    width: 3%;
    height: 4%;
    border-radius: 1rem;
    position: absolute;
  }
  
  .section.area4{
      top: 5%;
      left: 47%;
  }

  .section.area5{
    width: 2%;
    height: 4%;
    border-radius: 1rem;
    position: absolute;
  }
  
  .section.area5{
      top: 5%;
      left: 50%;
  }


.section:hover{
    background-color: rgba(54, 165, 100, .5);
}*/

table{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    position: relative;
}

.menu {
    font-size: 20px;
    color: #fff;
}

.menu th {
    border: 1px solid rgb(123, 232, 148);
    padding: 5px;
}

.menu th a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.som:hover{
    background-color: rgba(54, 165, 100, .5);
}

/* contenedor de busqueda */

.contenedor{
  position: relative;
  right: -30%;
}

.contenedor label{
  color: #fff;
}

.contenedor input{
  background-color: rgb(67, 199, 111);
  text-align: center;
  width: 30%;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.title{
  color: #fff;
}

.seccion{
  position: absolute;
  margin: 10px;
  background-color: #ccc;
  width: 25%;
}

.servicios img{
  width: 90%;
}

button{
  width: 200px;
  position: relative;
  left: 45%;
  top: -40px;
  
}

button:hover{
  background-color: rgba(204, 204, 204, 0.5);
}

.pie{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: black;
  bottom: 0%;
  left: 0%;
}

.pie1{
  position: absolute;
  /* width: 100%; */
  height: 100px;
  color: white;
  bottom: 0%;
  left: 0%;
  font-size: 25px;
}

.p{
  font-size: 20px;
  text-decoration: none;
  padding: .875rem 1.25rem;
  color: rgb(255, 255, 255);
  /* background: rgb(187, 106, 106); */
  margin: auto; 
}